<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Eterneon</vendor>
  <vendor_url>https://github.com/EternalCoder454/atlasos-installer</vendor_url>

  <action id="net.eterneon.telamon.installer.list-disks">
    <description>List the disks Telamon OS can be installed on</description>
    <message>Authentication is required to list the disks Telamon OS can be installed on</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="net.eterneon.telamon.installer.install">
    <description>Install Telamon OS</description>
    <message>Authentication is required to install Telamon OS, which changes the partitions on a disk</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="net.eterneon.telamon.installer.reboot">
    <description>Restart the computer after installing Telamon OS</description>
    <message>Authentication is required to restart the computer</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
